.imagen-centro {
  width: 100%;
  border-bottom: 5px solid var(--font-color);
}

#main-carousel {
  width: calc(80% - (10% - 50px));
  margin: auto;
  border: 5px var(--font-color) solid;
}

#carousel .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 400px;
  overflow: hidden;
}

iframe {
  display: block;
  margin: auto;
  max-width: 90vw;
}
.novedades-caja {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 30% 30% 30%;
  grid-row-gap: 3%;
  justify-content: space-evenly;
}

.novedad {
  border: 5px black solid;
  border-radius: 10px;
  max-height: 100vh;
  padding: 5%;

  & h3 {
    text-align: center;
  }
  & img {
    max-width: 100%;
    border: 2px solid black;
  }
}

@media only screen and (max-width: 600px) {
  .novedades-caja {
    grid-template-columns: 45% 45%;
  }
}