section {
  border: solid rgb(18, 23, 55);
  border-width: 5px 0 0 0;
  width: 100%;
  box-shadow: 0 0 20px -3px black inset;
  padding: 5% 0;

  & h2 {
    color: rgb(18, 23, 55);
    padding: 40px 10%;
    text-decoration: underline;
    font-family: "Montserrat";
    font-weight: bold;
  }
}

section:last-of-type {
  border-bottom: 5px solid rgb(18, 23, 55);
}

.contenido-curso {
  display: flex;
  justify-content: center;

  & p {
    margin: 0;
    padding: 10px;
    font-family: "Shippori Antique";
    font-weight: 400;
    width: 70%;
  }
  & img {
    display: block;
    width: 20%;
    outline: 3px solid rgb(18, 23, 55);
  }
}



@media screen and (max-width: 650px) {
  .contenido-curso {
    flex-direction: column;

    & p {
      width: 100%;
    }

    & img {
      width: 60%;
      margin: auto;
    }
  }
}